<div>
<{$lang_welcomemsg}>
</div>
<br /><br />
<div class="clear"></div>
<span class="member_header"><{$smarty.const._MD_FNMA_MEMBER_HEADER}></span>

<div id="members">
<table width="550" style="border-width: 1px; border-style: dotted; border-color: #928058;">
				<tr>
					<td>
						<table width='545'>
						<tr>
							<td>
								<table border='0' cellspacing='0' cellpadding='4' width='540'>
								<tr>
									<td align='right' valign = "top" width='25%'><{$smarty.const._MD_FNMA_ACCOUNT_STATUS}></td>
									<td align='left' valign = "top" width='25%'><font color='green'> <b><{$account_status}></b></font></td>
									<td align='right' valign = "top" width='25%'><{$smarty.const._MD_FNMA_VOTE_POINTS}></td>
									<td align='left' valign = "top" width='25%'><{$total_votes}></td>
								</tr>
								<tr>
									<td align='right' valign = "top" width='25%'><{$smarty.const._MD_FNMA_REG_DATE}></td>
									<td align='left' valign = "top" width='25%'><{$joindate}></td>
									<td align='right' valign = "top" width='25%'><{$smarty.const._MD_FNMA_POINTS_BALANCE}></td>
									<td align='left' valign = "top" width='25%'><{$web_points}></td>
								</tr>
								<tr>
									<td align='right' valign = 'top' width='25%'><{$smarty.const._MD_FNMA_LAST_IP}></td>
									<td align='left' valign = "top" width='25%'><{$last_ip}></td>
									<td align='right' valign = "top" width='25%'><{$smarty.const._MD_FNMA_COSTS}></td>
									<td align='left' valign = "top" width='25%'><{$points_earned}> / <{$points_spend}></td>
								</tr>
								<tr>
									<td align='right' valign = "top" width='25%'><b><{$smarty.const._MD_FNMA_ACCOUNT_LEVEL}> </b></td>
									<td align='left' valign = "top" width='25%'><{$user_level}></td>
									<td align='right' valign = "top" width='25%'><b><{$smarty.const._MD_FNMA_DONATIONS}> </b></td>
									<td align='left' valign = "top" width='25%'><{$total_donations}> <{$currency}></td>
								</tr>
								</table>
							</td>
						</tr>
						</table>
					</td>
				</tr>
			</table>


<div class="clear"></div>
<br />
<span class="member2_header"><{$smarty.const._MD_FNMA_MEMBER_SUBHEADER}></span>
<table width="550" style="border-width: 1px; border-style: dotted; border-color: #928058;">
	<tr>
    	<td colspan="4"><hr /></td>
    </tr>
	<tr>
    	<td height="35"><img src='images/account/icon-5.png' /></td>
    	<td><a href='user.php?op=logout'><{$smarty.const._MD_FNMA_LOGOUT}></a></td>
    	<td height="35"><img src='images/account/icon-5.png' /></td>
    	<td><a href='voting.php'><{$smarty.const._MD_FNMA_VOTE}></a></td>
	</tr>
    <tr>
    	<td colspan="4"><hr /></td>
    </tr>
	<tr>
    	<td height="35"><img src='images/account/icon-5.png' /></td>
    	<td><a href='userinfo.php?uid=<{$uid}>'><{$smarty.const._MD_FNMA_MANAGE_ACCOUNT}></a></td>
    	<td height="35"><img src='images/account/icon-1.png' /></td>
    	<td><a href='customize.php'><{$smarty.const._MD_FNMA_CUSTOMIZE_CHAR}></a></td>
	</tr>
    <tr>
    	<td colspan="4"><hr /></td>
    </tr>
	<tr>
    	<td height="35"><img src='images/account/icon-6.png' /></td>
    	<td><a href='?p=account&sub=mytransactions'><{$smarty.const._MD_FNMA_MY_DONATIONS}></a></td>
    	<td height="35"><img src='images/account/icon-2.png' /></td>
    	<td><a href='?p=account&sub=racechange'><{$smarty.const._MD_FNMA_CHAR_RACE_CHANGE}></a></td>
	</tr>
    <tr>
    	<td colspan="4"><hr /></td>
    </tr>
	<tr>
    	<td height="35"><img src='images/account/icon-3.png' /></td>
    	<td><a href='chgname.php'> <{$smarty.const._MD_FNMA_CHAR_RENAME}></a></td>
    	<td height="35"><img src='images/account/icon-4.png' /></td>
    	<td><a href='chgfaction.php'> <{$smarty.const._MD_FNMA_CHAR_FACTION_CHANGE}></a></td>
	</tr>
    <tr>
    	<td colspan="4"><hr /></td>
    </tr>
</table>
</div>
<br />